
body, html { height: 100% }

h1 {
	font-family: Amatic SC !important;
	font-size: 13vw !important;
}

h2 {
	font-family: Amatic SC !important;
	font-size: 6.3vw !important;
}

@media screen and (min-width: 992px) {
	h1 { font-size: 10vw !important }
	h2 {font-size: 5vw !important }
}

@media screen and (max-width: 768px) {
	h1 { font-size: 15vw !important }
	h2 {font-size: 8vw !important }
}

@media screen and (max-width: 500px) {
	h1 { font-size: 20vw !important }
	h2 {font-size: 12vw !important }
}

p {
	font-family: Quicksand;
	text-align: justify;
  text-justify: inter-word;
}

/* COVER */
.cover_img { 
  background-image: url('imgs/qRoo1.jpg');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: right;
  padding: 0 !important;
}

.cover_img p {
	padding-right: 10px;
	font-family: Amatic SC;
  font-size: 30px;
  color: white;
  text-align: right;
}

.cover_color_layer {
	width: 100%;
	height: 100%;
	transition: 2s all;
	-webkit-transition: 2s all;
  -moz-transition: 2s all;
  -o-transition: 2s all;
  transition: 2s all;
}

.cover_color_layer_acqua { background: rgba(66, 127, 93, 0.6) }

.cover_color_layer_transparent { background: rgba(66, 127, 93, 0.3) }

.cover_txt {
	text-align: center;
	position: sticky;
	position: -webkit-sticky;
	top: 50%;
	transform: translateY(-50%);
}

.cover_txt h1 { color: white !important; } /*#e6005c*/

.cover_txt h2 { color: white !important }


/* NAVBAR */
.navbar { padding: 0 16px !important }

.navbar a {
	color: white !important;
	font-family: Amatic SC;
	font-size: 3.2vw;
	padding: 0 0 5px 0;
}

@media screen and (min-width: 992px) {
	.navbar a { font-size: 2.5vw !important }
}

@media screen and (max-width: 768px) {
	.navbar a { font-size: 6vw !important }
}

@media screen and (max-width: 500px) {
	.navbar a { font-size: 8vw !important }
}

.navbar a:hover { font-weight: bold }

.bg-transparent .navbar-brand { opacity: 0 }

.bg-transparent .show { background: rgba(66, 127, 93, 0.8) }

.navbar-brand {
	font-family: Amatic SC;
	font-size: 30px !important;
	font-weight: bold;
	-webkit-transition: 3s all;
  -moz-transition: 3s all;
  -o-transition: 3s all;
  transition: 3s all;
}

.navbar-nav { width: 100% }


/* SECTIONS */
.section {
/*	padding-top: 15px;*/
	padding: 20px 25px !important;
}

/* ABOUT */
.about_img {
	width: 100%;
}

@media screen and (max-width: 768px) {
	.about_img { padding: 30px }
}

/* PROJECTS */
.projects_section {
	background-image: url(imgs/qRoo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;	
}

#projects { color: white }

.project {
	padding-bottom: 100%;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project_content {
	background: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10% 5%;
  text-align: center;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -o-transition: 2s all;
  transition: 2s all;
}

@media screen and (max-width: 768px) {
	.project_content { background: rgba(89, 146, 84, .8); }
}

.project_content:hover {
	background: rgba(89, 146, 84, .9);
}

.table{
  display:table;
  height:100%;
  width:100%;
}

.table-cell{
  display:table-cell;
  vertical-align:middle;
  height:100%;
  width:100%;
  opacity: 0;
  font-family: Quicksand;
  -webkit-transition: 2s all;
  -moz-transition: 2s all;
  -o-transition: 2s all;
  transition: 2s all;
}

.table-cell p {
  color: white;
  text-align: center !important;
}

.table-cell:hover {
	opacity: 1;
}

#project_MSc_Diss { background-image: url('imgs/projects/MScDiss.png') }

#project_IRR { background-image: url('imgs/projects/IRR.png') }

#project_MLP { background-image: url('imgs/projects/MLP.png') }

#project_twttr { background-image: url('imgs/projects/twttr.png') }

#project_trump_hilary { background-image: url('imgs/projects/trump.png') }

#project_PULearning { background-image: url('imgs/projects/PULearning.png') }

#project_Aalto { background-image: url('imgs/projects/Aalto.png') }

#project_tesis { background-image: url('imgs/projects/tesis.png') }
